{% extends "template.html" %}
<body>
{% block title %}BrIW-The Website{% endblock %}
{% block content%}
    <form id="add-person-form"  method="post">
        <legend>Add new person:</legend>
        <br>
        <label for="person-name">People:</label>
        <input list="people" id="person-name" type="text" name="person-name" required>
          <datalist id="people">
            {%for item in item_list%}
              <option value={{item}}>
            {%endfor%}
          </datalist>
        <label for="drink-name">Drink:</label>
        <input id="drink-name" type="text" name="drink-name" required/>

        <input id="submit-btn" type="submit" value="Add Person">
    </form>
    <script>
    </script>
</body>
{% endblock %}