<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrIW- The Website</title>
</head>
<body>
    <h1> Welcome to BrIW! </h1>
    <h2> Please select your name from the following options: </h2>
    <div class="options-box">
        <table>
            {%for i in range(item_list|length)%}
            <tr>
                <td class="name">{{i}}. {{item_list[i]["name"]}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <script>
        let clickableItems = document.getElementsByClassName("name")
        clickableItems.addEventListener('click', whenClicked)
        function whenClicked(){
            alert("You have clicked!")
        }
    </script>
</body>
</html>