{% extends "template.html" %}
    {% block content %}
    <h1> Welcome to BrIW! </h1>
    <h2> The following drinks are currently available: </h2>
    <div class="name-list">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {%for i in range(item_list|length)%}
                <tr>
                    <td class="name">{{i+1}}. {{item_list[i]}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <button type="button" class="add" onclick="location.href = '/drinks/add';">Add</button>
        <button type="button" class="remove" onclick="location.href = '/drinks/remove';">Remove</button>
    </div>
    {% endblock %}