{% extends "template.html" %}
<body>
{% block content%}
<form id="add-person-form" method="post">
    <legend>Add new person:</legend>
    <br>
    <label for="person-name">People:</label>
    <input list="people" id="person-name" type="text" name="person-name" required>
    <datalist id="people">
        {%for item in item_list%}
        <option value={{item}}>
            {%endfor%}
    </datalist>
    <label for="drink-name">Drink:</label>
    <input id="drink-name" type="text" name="drink-name" required/>

    <input id="submit-btn" type="submit" value="Add Person">
</form>
<script>
    let clickableItems = document.getElementsByClassName("name")
    for (let i = 0; i < clickableItems.length; i++) {
        clickableItem = clickableItems[i]
        clickableItem.id = i + 1
        clickableItem.addEventListener('click', whenClicked)
    }

    function whenClicked(event){
        alert(`You have clicked! Clicked item was: ${event.target.getAttribute('id')}`)
    }
</script>
</body>
{% endblock %}