{% extends "template.html" %}
    {% block content %}
    <h1> Welcome to BrIW! </h1>
    <h2> The following people have all joined BrIW: </h2>
    <div class="name-list">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th>Preferred Drink</th>
                </tr>
            </thead>
            <tbody>
                {%for i in range(table|length)%}
                <tr>
                    <td class="name">{{i+1}}. {{table[i]['name']}}</td>
                    <td class="preference-space">---></td>
                    <td class="preference">{{drinks[table[i]['preference']]}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <button type="button" class="add" onclick="location.href = '/people/add';">Add</button>
        <button type="button" class="remove" onclick="location.href = '/people/remove';">Remove</button>
        <button type="button" class="change-preference" onclick="location.href = '/people/preferences';">Change Preferences</button>
    </div>
    {% endblock %}
