{% extends "template.html" %}
{% block content %}
{% if first %}
<h1> Round Started!</h1>
<h2>What is your name?</h2>
{% else %}
<h1> Ready for another order?</h1>
<h2>Select a person and their desired drink:</h2>
{% endif %}
<form id="add-person-form" method="post">

    {% if first %}
    <legend>Select your name:</legend>
    {% else %}
    <legend>Select a name:</legend>
    {% endif %}
    <br>
    <select list="people" id="people-name" type="text" name="people-name" required>
        {% for person in people %}
        <option value={{person['person_id']}}>{{person['name']|title}}</option>
            {% endfor %}
    </select>

    {% if first %}
    <legend>Select your drink:</legend>
    {% else %}
    <legend>Select a drink:</legend>
    {% endif %}
    <br>
    <select list="drinks" id="drink-name" type="text" name="drink-name" required>
        {% for drink in drinks %}
        <option value={{drink['drink_id']}}>{{drink['name']|title}}</option>
            {% endfor %}
    </select>

    <div class="buttons">
        <button type="submit" class="add-order" onclick="location.href ='/rounds/continue';" value="">Add Order</button>
        <!-- <button type="button" class="add-order" onclick="location.href = '/rounds/remove_order';">Remove Order</button> -->
    </div>
</form>
{% endblock %}